<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regServ</servlet-name>
        <servlet-class>regServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServ</servlet-name>
        <servlet-class>logServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nameserv</servlet-name>
        <servlet-class>nameserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailserv</servlet-name>
        <servlet-class>mailserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailUtil</servlet-name>
        <servlet-class>MailUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>india</servlet-name>
        <servlet-class>india</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openlink</servlet-name>
        <servlet-class>openlink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sportserv</servlet-name>
        <servlet-class>sportserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>entertainmentserv</servlet-name>
        <servlet-class>entertainmentserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>politicserv</servlet-name>
        <servlet-class>politicserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchserv</servlet-name>
        <servlet-class>searchserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchContent</servlet-name>
        <servlet-class>FetchContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regServ</servlet-name>
        <url-pattern>/regServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServ</servlet-name>
        <url-pattern>/logServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nameserv</servlet-name>
        <url-pattern>/nameserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailserv</servlet-name>
        <url-pattern>/mailserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailUtil</servlet-name>
        <url-pattern>/MailUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>india</servlet-name>
        <url-pattern>/india</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openlink</servlet-name>
        <url-pattern>/openlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sportserv</servlet-name>
        <url-pattern>/sportserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>entertainmentserv</servlet-name>
        <url-pattern>/entertainmentserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>politicserv</servlet-name>
        <url-pattern>/politicserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchserv</servlet-name>
        <url-pattern>/searchserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchContent</servlet-name>
        <url-pattern>/FetchContent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>index_2.jsp</welcome-file-list>-->
</web-app>
